<strong>🐶 Меню владельца питомца</strong>

Каждый день бот будет просить подтвердить, что с вами все в порядке.
Если вы не сможете ответить два дня подряд, то мы оповестим ваши резервные контакты.

Бот начнет работать как только первый резервный контакт пример приглашение.

<strong>Резервные контакты:</strong>
{{ secondary_owners }}

<strong>Код приглашения резервного контакта:</strong>
<code>{{ invite_code }}</code> (нажмите на код, чтобы скопировать)

<a href="https://boosty.to/trusty_tail">🙏 Поддержать проект</a>
