Привет 👋 Этот бот создан для заботы о питомцах, если с основным владельцем
что-то случилось.

<strong>Для владельцев питомцев:</strong>
Время от времени, бот будет просить подтвердить, что с вами все в порядке. Если
вы не сможете ответить несколько дней подряд, то мы оповестим ваши резервные
контакты. Для того, чтобы бот начал работать, задайте текст на экстренный случай и
пригласите резервные контакты с помощью специального кода.

<strong>Для резервных контактов:</strong>
Вам нужно лишь принять приглашение от владельца питомца. В случае, если владелец
питомца не отвечает на запросы бота, вы получите уведомление. Таким образом, за
питомцем всегда присмотрят 🐶
