Привет 👋 Этот бот поможет позаботиться о питомцах, если с владельцем что-то случилось.

<strong>Для владельцев питомцев:</strong>

Каждый день бот будет просить подтвердить, что с вами все в порядке.
Если вы не сможете ответить два дня подряд, то мы оповестим ваши резервные контакты.

Мониторинг начнет работать после того как первый резервный контакт примет приглашение.

<strong>Для резервных контактов:</strong>

Вам нужно лишь принять приглашение от владельца питомца.
В случае, если владелец питомца не отвечает на запросы бота, вы получите уведомление.
Таким образом, за питомцем всегда присмотрят.
